input,
.input input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'] {
  border-radius: 20px;
  border: none;
  font-size: 1.2rem;
  @include neu-neg-minus();
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
